h1 {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
}

.page {
  background-color: black;
  text-align: center;
}

a {
  color: Aquamarine;
  font-size: 16px;
}
