h1, h2 {
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-size: 42px;
  font-weight: 300;
}
h3 {
  text-align: right;
  color: gray;
}

#page {
  font-family: Verdana, sans-serif;
  background-color: black;
  text-align: center;
}

a {
  color: Aquamarine;
  font-size: 16px;
}
